/**
 * <%= ComponentName %> of milkui-component
 * @author <%- author %>
 *
 * Copyright 2017-2019, All rights reserved.
 */

.demo__panel {
  padding: 0 25px;
}

.demo__title {
  margin-top: 20px;
  font-size: 60px;
}

.demo__description {
  margin-top: 15px;
  font-size: 26px;
  color: #3b3b3b;
}

.demo__item {
  margin-top: 20px;
}
